[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Rij22
	email = 98949103+Rij22@users.noreply.github.com
[credential]
	helper = osxkeychain
